.idea/
YouTube playlist to mp3 bot/token.txt
YouTube playlist to mp3 bot/reserveChatId.txt
YouTube playlist to mp3 bot/obj/
YouTube playlist to mp3 bot/bin/
YouTube playlist to mp3 bot/temp
YouTube playlist to mp3 bot/FFmpeg